<!DOCTYPE html>
<html>
	<head>
		 <meta charset="UTF-8">
		<meta name="viewport" content="width=240, user-scalable=no">
		<meta http-equiv="refresh" content="2;url={{ url }}">
		<title>操作执行中</title>    <style>
        body {
            width: 240px;
            margin: 0;
            padding: 0px;
            font-family: Arial, sans-serif;
            font-size: 12px;
            background: #f0f0f0;
        }
		   .loading {
                    color: '#27ae60' ;
                    font-size: 18px;
                    margin: 20px;
                }
		    </style>

	</head>
	<body>
		<div class="loading">
			2秒后返回
		</div>
	</body>
</html>
